@use "@dive/penguin/dist/scss/variables";
@use "@dive/penguin/dist/scss/mixins";

@use "./variables.scss" as appVars;

.app {
  padding-top: appVars.$header-height;

  &__content {
    height: calc(100vh - appVars.$header-height);
    width: 100vw;
    position: relative;
  }
}
